@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Dancing+Script:wght@700&family=Poppins&display=swap');

.update-password-container{
    margin-top: 100px;
    background-color: white;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 30px;
    position: relative;
    top: 0%;
    left: 35%;
    width: 30%;
    height: 40vh;
    font-family: 'Poppins';
    font-size: 14px;
}
.Update-Password-Information {
    font-family: 'Poppins';
    font-size: 21px;
    color: rgb(114, 98, 185);
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(83, 71, 136);
}

/* --------- Details ---------- */

#update-password{
    font-family: 'Poppins';
    font-size: 13px;
    border-radius: 15px;
    color: rgb(114, 98, 185);
    margin-bottom: 10px;
    padding: 2px;
    margin-left: 50px;
}
#confirm-password{
    font-family: 'Poppins';
    font-size: 13px;
    border-radius: 15px;
    color: rgb(114, 98, 185);
    margin-bottom: 10px;
    padding: 2px;
    margin-left: 30px;
    
}


.Update-Password-label{
    
        font-family: 'Poppins';
        font-weight: 600;
        /* margin-left: 40px; */
        font-size: 14px;
        margin-bottom: 10px;
        color: rgb(114, 98, 185);
        margin-left:10px;
    }
   
.Update-Password-label:after { content: ": " }


#password-submit-button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins';
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 70px;
    color: white;
    border-color:  transparent;
    background-color: rgb(114, 98, 185);
    
}
#password-submit-button:hover{
    background-color: white;
    border-color: rgb(114, 98, 185);
    color: rgb(114, 98, 185);
    transition: 0.4s all ease;
}


